# Comparing cities Project

## Abstract

The globalisation of the world had had a great effect on our standard of living. We can now travel in all over the world for diverse reason. Consequently, the tourism industry has grown tremendously. Every cities, every contry makes many efforts for having the best place to visit. Meanwhile all of those efforts, there some contries witch are above in termes of beauty, organisations, hotels, restarant. The differences, however are difficult to see and to analyze. This work try to anayze those difference for five of the cities that people think are best in the world, New York, Toronto, Tokyo, Singapore and Dubai. We use the Forthsqare API for the venues that we will use and wikipedia for the location data. For the classification, we will go for K-Nearest Neighbours.

## Background


The comparison of cities has become crucial in the management of the tourism industry because globalization has put enormous pressure on them. In fact, the free movement of people has led to the emergence of a whole travel culture and thus to form a spectacular competition. Cities in a country compete with each other, each leveraging their strength to attract the most tourism. Thus, they built a whole social and cultural infrastructure in order to win this increasingly fierce competition.
The notion of competition therefore calls for knowing your competitor and assessing his potential strengths and weaknesses. It is therefore necessary for a given city, determined those which bring it closer to another city which makes it compete and also the factors of dissimilarity in order to establish a rational tourism policy to increase profits in this sector.

## Data Description

To arrive at our analysis, we will use relocated data. In fact, we are going for the five cities to look for the districts in each of these cities, as well as the districts, the districts and the GPS coordinates. For each district, we will use the Foursquare API to access 100 Venues within a radius of 500 meters. Once we have the first base which contains as variable, city, district, neighborhoods, GPS data of the neighborhoods. We will have to find for each of these districts a set of coming that characterizes them as well as the nature of it. Next, we will do a classification analysis from this data to classify the cities.

In [14]:
import json
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [15]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [16]:
neighborhoods_data = newyork_data['features']

In [17]:
import pandas as pd
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods_newyork = pd.DataFrame(columns=column_names)

In [24]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods_newyork = neighborhoods_newyork.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [28]:
# Let's add a column city 
neighborhoods_newyork.insert(0,"City","New York")

In [34]:
neighborhoods_newyork.head()

       City Borough Neighborhood   Latitude  Longitude
0  New York   Bronx    Wakefield  40.894705 -73.847201
1  New York   Bronx   Co-op City  40.874294 -73.829939
2  New York   Bronx  Eastchester  40.887556 -73.827806
3  New York   Bronx    Fieldston  40.895437 -73.905643
4  New York   Bronx    Riverdale  40.890834 -73.912585

We will repeat this process for the four other cities and merge them for the final dataset.