## ASSIGMENT WORK

In [2]:
# Import necessaries modules 
import pandas as pd
import numpy as np

In [40]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [41]:
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [47]:
df1=df[df.Borough!='Not assigned']
df1.shape

(103, 3)

In [49]:
df1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [80]:
df2 = df1.groupby('Postal Code')['Neighborhood'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
print (df2)

    Postal Code                                       Neighborhood
0           M1B                                     Malvern, Rouge
1           M1C             Rouge Hill, Port Union, Highland Creek
2           M1E                  Guildwood, Morningside, West Hill
3           M1G                                             Woburn
4           M1H                                          Cedarbrae
..          ...                                                ...
98          M9N                                             Weston
99          M9P                                          Westmount
100         M9R  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W                Northwest, West Humber - Clairville

[103 rows x 2 columns]

In [82]:
df2.shape

(103, 2)

In [78]:
df2.shape

(103,)

In [85]:
df2['Borough']=df1['Borough'].values

In [86]:
df2

,Postal Code,Neighborhood,Borough
0,M1B,"Malvern, Rouge",North York
1,M1C,"Rouge Hill, Port Union, Highland Creek",North York
2,M1E,"Guildwood, Morningside, West Hill",Downtown Toronto
3,M1G,Woburn,North York
4,M1H,Cedarbrae,Downtown Toronto
...,...,...,...
98,M9N,Weston,Etobicoke
99,M9P,Westmount,Downtown Toronto
100,M9R,"Kingsview Village, St. Phillips, Martin Grove ...",East Toronto
101,M9V,"South Steeles, Silverstone, Humbergate, Jamest...",Etobicoke
102,M9W,"Northwest, West Humber - Clairville",Etobicoke

In [93]:
df2['Neighborhood'].loc[df2['Neighborhood'] == 'Not assigned'] =  df2.Borough

In [94]:
df2

,Postal Code,Neighborhood,Borough
0,M1B,"Malvern, Rouge",North York
1,M1C,"Rouge Hill, Port Union, Highland Creek",North York
2,M1E,"Guildwood, Morningside, West Hill",Downtown Toronto
3,M1G,Woburn,North York
4,M1H,Cedarbrae,Downtown Toronto
...,...,...,...
98,M9N,Weston,Etobicoke
99,M9P,Westmount,Downtown Toronto
100,M9R,"Kingsview Village, St. Phillips, Martin Grove ...",East Toronto
101,M9V,"South Steeles, Silverstone, Humbergate, Jamest...",Etobicoke
102,M9W,"Northwest, West Humber - Clairville",Etobicoke

In [95]:
df2.shape

(103, 3)