In [17]:
import pandas as pd

In [19]:
url= 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)[0]

In [21]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [22]:
df1=df[df.Borough!='Not assigned']
df1.shape

(103, 3)

In [23]:
df1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [24]:
df2 = df1.groupby('Postal Code')['Neighborhood'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
print (df2)

    Postal Code                                       Neighborhood
0           M1B                                     Malvern, Rouge
1           M1C             Rouge Hill, Port Union, Highland Creek
2           M1E                  Guildwood, Morningside, West Hill
3           M1G                                             Woburn
4           M1H                                          Cedarbrae
..          ...                                                ...
98          M9N                                             Weston
99          M9P                                          Westmount
100         M9R  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W                Northwest, West Humber - Clairville

[103 rows x 2 columns]

In [25]:
df2['Borough']=df1['Borough'].values

In [28]:
df2.head()

  Postal Code                            Neighborhood           Borough
0         M1B                          Malvern, Rouge        North York
1         M1C  Rouge Hill, Port Union, Highland Creek        North York
2         M1E       Guildwood, Morningside, West Hill  Downtown Toronto
3         M1G                                  Woburn        North York
4         M1H                               Cedarbrae  Downtown Toronto

In [27]:
df2['Neighborhood'].loc[df2['Neighborhood'] == 'Not assigned'] =  df2.Borough
df2.head()

  Postal Code                            Neighborhood           Borough
0         M1B                          Malvern, Rouge        North York
1         M1C  Rouge Hill, Port Union, Highland Creek        North York
2         M1E       Guildwood, Morningside, West Hill  Downtown Toronto
3         M1G                                  Woburn        North York
4         M1H                               Cedarbrae  Downtown Toronto

In [29]:
df2.shape

(103, 3)

In [30]:
location = pd.read_csv('https://cocl.us/Geospatial_data')
location.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [32]:
df_final = pd.merge(df2, location, on='Postal Code')
df_final.head()

,Postal Code,Neighborhood,Borough,Latitude,Longitude
0,M1B,"Malvern, Rouge",North York,43.806686,-79.194353
1,M1C,"Rouge Hill, Port Union, Highland Creek",North York,43.784535,-79.160497
2,M1E,"Guildwood, Morningside, West Hill",Downtown Toronto,43.763573,-79.188711
3,M1G,Woburn,North York,43.770992,-79.216917
4,M1H,Cedarbrae,Downtown Toronto,43.773136,-79.239476

In [33]:
df_final.shape

(103, 5)